@mixin transition($time) {
	-webkit-transition: all $time ease-in-out;
	-moz-transition: all $time ease-in-out;
	-ms-transition: all $time ease-in-out;
	-o-transition: all $time ease-in-out;
	transition: all $time ease-in-out;
}

@mixin radius($radius) {
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
	border-bottom-right-radius: $radius;
	border-bottom-left-radius: $radius;
}

.scroll-top-wrapper.show {
	visibility:visible;
	cursor:pointer;
	opacity: 1.0;
}

.scroll-top-wrapper {
    position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 999;
    background-color: #777777;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 10px;
	bottom: 30px;
	padding-top: 2px;
	@include radius(10px);
	@include transition(0.5s);
	
	i.fa {
		line-height: inherit;
	}
	
	&:hover {
		background-color: #888888;
	}
}