$nav-height: 100px;
$begin-footer-top-margin: 200px;

$body-font-stack: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
$body-font-size: 1.25em;
$nav-button-size: $body-font-size;
$body-font-weight: 400;
$body-bottom-margin: 50px;

$spacer-y: 25px;
$form-area-fade-in-duration: 1s;

@mixin top-bottom-margin($margin) {
	margin-top: $margin;
	margin-bottom: $margin;
}

@mixin left-right-pad($padding) {
	padding-left: $padding;
	padding-right: $padding;
}

@mixin top-bottom-pad($padding) {
	padding-top: $padding;
	padding-bottom: $padding
}

@mixin fade-in($fade-in-duration) {
	-webkit-animation: fadein $fade-in-duration;
	-moz-animation: fadein $fade-in-duration;
	-ms-animation: fadein $fade-in-duration;
	-o-animation: fadein $fade-in-duration;
	animation: fadein $fade-in-duration;
}

html {
	overflow-y: scroll;
}

body {
	/*
	when nav is fixed:
	margin-top: $nav-height + 10px;
	*/
	
	margin-bottom: $body-bottom-margin;
	font-family: $body-font-stack;
    font-size: $body-font-size;
	font-weight: $body-font-weight;
	
	> nav {
		height: $nav-height;
		background-image: url(./images/bg-repeat.gif);
		background-repeat: repeat-x;
		padding-left: 10px;
		border-bottom: none !important;
		
		img.logo {
			height: $nav-height;
		}
	}
	
	.form-wrapper {
		@include left-right-pad(15px);
		
		.form-area {
			@include fade-in($form-area-fade-in-duration);
			
			.btn-lg.btn-block {
				font-size: $nav-button-size;
			}
		}
	}
	
	/* lg */
	@media (min-width: 1200px) {
		
	}
	
	/* md */
	@media (min-width: 992px) and (max-width: 1199px) {
	
	}
	
	/* sm */
	@media (min-width: 768px) and (max-width: 991px) {
		.button-foot {
			button {
				margin-bottom: 10px;
			}
		}
	}
	
	/* xs */
	@media (max-width: 767px) {
		.button-foot {
			button {
				margin-bottom: 10px;
			}
		}
	}

	form {
		label {
			font-weight: $body-font-weight !important;
		}
		
		.form-group.required {
			> .control-label:after {
				content:"*";
				color:red;
			}
		}
	}
	
	.progress-indicator {
		li:after {
			content:"\0000a0";
		}
	}
	
	.removable-panel {
		.panel-body {
			padding-top: 5px;
		}
		
		@include fade-in($form-area-fade-in-duration);
		@include top-bottom-margin(20px);
		padding-top: 15px;
		
		.btn-remove-wrapper {
			/*top: 20px;*/
			
			.btn-remove {
				display: block;
				float: right;
				top: 20px;
			}
		}
	}
	
	.checkbox-field-row {
		margin-top: 5px;
		margin-bottom: 15px;
	}
	
	.undo-panel {
		@include top-bottom-margin(20px);
		
		.btn-link {
			font-size: inherit !important;
		}
		
		.panel-body {
			@include left-right-pad(15px);
			@incliude top-bottom-pad(10px);
		}
		
		.btn-remove {
			display: block;
			float: right;
			border: 0;
		}
		
		p {
			margin: 0;
		}
	}
}

/* utility classes */
.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: $spacer-y !important;
}

.mt-2 {
  margin-top: 2*$spacer-y !important;
}

.mt-3 {
  margin-top: 3*$spacer-y !important;
}

.mt-4 {
  margin-top: 4*$spacer-y !important;
}

.mt-5 {
  margin-top: 5*$spacer-y !important;
}

/* fade in */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* fade out */
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}