$nav-height: 100px;
$begin-footer-top-margin: 200px;

$body-font-stack: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
$body-font-size: 1.5em;
$body-font-weight: 400;
$body-bottom-margin: 100px;

$spacer-y: 25px;

@mixin top-bottom-margin($margin) {
	margin-top: $margin;
	margin-bottom: $margin;
}

@mixin left-right-pad($padding) {
	padding-left: $padding;
	padding-right: $padding;
}

html {
	overflow-y: scroll;
}

body {
	/*
	when nav is fixed:
	margin-top: $nav-height + 10px;
	*/
	margin-bottom: $body-bottom-margin;
	font-family: $body-font-stack;
    font-size: $body-font-size;
	font-weight: $body-font-weight;
	
	> nav {
		height: $nav-height;
		background-image: url(/images/bg-repeat.gif);
		background-repeat: repeat-x;
		padding-left: 10px;
		border-bottom: none !important;
		
		img.logo {
			height: $nav-height;
		}
	}
	
	.button-foot {
		position:fixed;
		bottom:0px;
		width: 100%;
		z-index: 1000;
		padding: 20px;
		background-color: #f3f3f3;
	}
	
	/* Large desktops and laptops */
	@media (min-width: 1200px) {
		.button-foot {
			@include left-right-pad(300px);
		}
	}
	
	/* Landscape tablets and medium desktops */
	@media (min-width: 992px) and (max-width: 1199px) {
		.button-foot {
			@include left-right-pad(100px);
		}
	}
	
	/* Portrait tablets and small desktops */
	@media (min-width: 768px) and (max-width: 991px) {
		.button-foot {
			@include left-right-pad(50px);
		}
	}
	
	/* Landscape phones and portrait tablets */
	@media (max-width: 767px) {
		.button-foot {
			button {
				margin-bottom: 10px;
			}
			
			padding-bottom: 10px;
		}
	}

	form {
		label {
			font-weight: $body-font-weight !important;
		}
		
		.form-group.required {
			> .control-label:after {
				content:"*";
				color:red;
			}
		}
	}
	
	.progress-indicator {
		li:after {
			content:"\0000a0";
		}
	}
	
	.removable-panel {
		@include top-bottom-margin(20px);
		.btn-remove {
			display: block;
			float: right;
		}
	}
	
	.damage-panel {
		@extend .removable-panel;
	}
	
	.suspect-panel {
		@extend .removable-panel;
	}
	
	.witness-panel {
		@extend .removable-panel;
	}
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: $spacer-y !important;
}

.mt-2 {
  margin-top: 2*$spacer-y !important;
}

.mt-3 {
  margin-top: 3*$spacer-y !important;
}

.mt-4 {
  margin-top: 4*$spacer-y !important;
}

.mt-5 {
  margin-top: 5*$spacer-y !important;
}